<nav>
  <div class="nav-wrapper #ffa726 orange lighten-1">
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a routerLink="">Login Page</a></li>
      <li><a href="users">Users</a></li>
      <li><a routerLink="users/add"> Add new User</a></li>
    </ul>
  </div>
</nav>

<div class="row">
<form class="col s12" [formGroup]="registrationForm" >
  <div class="row">
    <div class="input-field col s6">
      <input formControlName="firstName" type="text" placeholder="First Name" name="firstName">
    </div>
    <div class="input-field col s6">
      <input formControlName="lastName" type="text" placeholder="Last Name" name="lastName">
    </div>
    <div class="input-field col s6">
      <input formControlName="age" type="text" placeholder="Age" name="age"
             required minlength="4">
    </div>
    <div class="input-field col s6">
      <input formControlName="email" type="text" placeholder="Email" name="email">
    </div>
    <div class="input-field col s6">
      <input formControlName="password" type="password" placeholder="Password">
    </div>
    <div class="input-field col s6">
      <input type="password" placeholder="Confirm Password" >
    </div>
  </div>
  </form>
</div>
<div class="button-container">
  <button class="waves-effect #ffa726 orange lighten-2 btn pulse " (click)="log()">Register</button>
</div>
<div *ngIf="name.invalid && (name.dirty || name.touched)"
     class="alert alert-danger">

  <div *ngIf="name.errors.required">
    Name is required.
  </div>
  <div *ngIf="name.errors.minlength">
    Name must be at least 4 characters long.
  </div>
  <div *ngIf="name.errors.forbiddenName">
    Name cannot be Bob.
  </div>
