table {
  width: 80%;
  margin: 0 auto;
}
.table-container{
  display: flex;
  justify-content: space-around;}

h1{
  text-align: center;
}

.button-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

