<nav>
  <div class="nav-wrapper #ffa726 orange lighten-1 ">
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a routerLink="..">Login Page</a></li>
      <li><a routerLink="../register">Registration</a></li>
      <li><a routerLink="add">Add new user</a></li>
    </ul>
  </div>
</nav>
<h1 class="card-panel #e0e0e0 grey lighten-2">Welcome to User list</h1>

<div class="table-container">
<table class="striped">
  <thead>
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Age</th>
    <th colspan="3">Email</th>
  </tr>
  </thead>

  <tbody>
  <tr *ngFor="let users of users">
    <td>{{users.firstName}}</td>
    <td>{{users.lastName}}</td>
    <td>{{users.age}}</td>
    <td>{{users.email}}</td>
    <td><button class="waves-effect waves-light btn" routerLink="edit/{{users._id}}">Edit</button></td>
    <td><button  class="waves-effect waves-light btn" (click)="deleteOne(users._id)">Delete</button></td>
  </tr>
  </tbody>
</table>
</div>

<div class="button-container">
  <button  class="waves-effect waves-light btn "  routerLink="add">Add One User</button>
</div>

<router-outlet> </router-outlet>
