<nav>
  <div class="nav-wrapper #ffa726 orange lighten-1 ">
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a routerLink="">Login Page</a></li>
      <li><a routerLink="register">Registration</a></li>
      <li><a routerLink="add">Add new user</a></li>
    </ul>
  </div>
</nav>

<h1 class="card-panel #80d8ff light-blue accent-1">Welcome to this page</h1>
<input placeholder="login" name="login">
<input placeholder="password" type="password">
<button class="btn waves-effect #80d8ff light-blue accent-1"> Login</button>
<br>
<p>Registration page</p>
<button class="btn waves-effect #80d8ff light-blue accent-1" routerLink="register">Register</button>
