<br>
<form>
  <input type="text" [formControl]="firstNameControl" placeholder="First Name" name="firstName">
  <input placeholder="Last Name" name="lastName" [formControl]="lastNameControl">
  <input placeholder="Email" name="email" [formControl]="emailControl">
  <input placeholder="Age" name="age" [formControl]="ageControl">
  <div>
    <button class="waves-effect waves-light btn pulse " type="button" (click)="postOne()" routerLink=".." >Add one</button>
  </div>
</form>
